<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg"></div>
  <div class="center">
      <div class="content-card">
          <mat-sidenav-container>
              <mat-sidenav class="sidenav" position="start" opened="true" mode="side" fuseMatSidenavHelper="chat-left-sidenav"
                  matIsLockedOpen="gt-md">
                  <priority-side-bar [AllPriorities]="AllPriorities" (PrioritySelectionChanged)="OnPrioritySelectionChanged($event)">
                  </priority-side-bar>
              </mat-sidenav>
              <priority-main-content [currentSelectedPriority]="SelectedPriority" (SaveSucceed)='RefreshAllPriorities($event)'
                  (ShowProgressBarEvent)="OnShowProgressBarEvent($event)"></priority-main-content>
          </mat-sidenav-container>
          <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent" mode="indeterminate"></mat-progress-spinner>
      </div>
  </div>
  <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
</div>
