<div id="chat" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg"></div>
  <div class="center">
      <div class="content-card">
          <mat-sidenav-container>
              <mat-sidenav class="sidenav" position="start" opened="true" mode="side" fuseMatSidenavHelper="chat-left-sidenav"
                  matIsLockedOpen="gt-md">
                  <document-type-side-bar [AllDocumentTypes]="AllDocumentTypes" (DocumentTypeSelectionChanged)="OnDocumentTypeSelectionChanged($event)">
                  </document-type-side-bar>
              </mat-sidenav>
              <document-type-main-content [currentSelectedDocumentType]="SelectedDocumentType" (SaveSucceed)='RefreshAllDocumentTypes()'
                  (ShowProgressBarEvent)="OnShowProgressBarEvent($event)"></document-type-main-content>
          </mat-sidenav-container>
          <mat-progress-spinner *ngIf="IsProgressBarVisibile" class="ProgressBarPostion" color="accent" mode="indeterminate"></mat-progress-spinner>
      </div>
  </div>
  <div id="overlay" *ngIf="IsProgressBarVisibile"></div>
</div>
